{{#each this}}
<div class="film-card">
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width=250 height=320 loading="lazy" />
    <div class="info">     
        <p class="info-title">{{title}}</p>      
        <p class="info-genre">{{#each genres}} {{name}}{{/each}}</p>
        <p class="info-year">{{release_date}}</p>
    </div>  
</div>
{{/each}}

