<ul class="list-box team-cards">
  {{#each []}}
    <li class="team-cards__card">
                <img
                  class="team-cards__image"
                  {{!-- srcset='./images/our_team/{{big-image}}.jpg 2x' --}}
                  {{!-- src='./images/our_team/{{small-image}}.jpg' --}}
                  src='https://github.com/Alex8LSM/JS-project-test/blob/main/src/images/our_team/{{small-image}}.jpg'
                  width="450"
                  height="294"
                  alt="{{alt}}"
                  loading="lazy"
                />
                <div class="team-card">
                  <h3 class="team-card__title">{{name}}</h3>
                  <p class="team-card__profession">{{role}}</p>
                  <ul class="list-box social-icons team-card__social-icons">
                    <li class="list social-icons__list">
                      <a class="link social-icons__icon" href="{{instagram}}">
                        <svg class="team-card__social-icon" width="20px" height="20px">
                          <use href="./images/sprite.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>

                    <li class="list social-icons__list">
                      <a class="link social-icons__icon" href="{{twitter}}">
                        <svg class="team-card__social-icon" width="20px" height="20px">
                          <use href="./images/sprite.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>

                    <li class="list social-icons__list">
                      <a class="link social-icons__icon" href="{{facebook}}">
                        <svg class="team-card__social-icon" width="20px" height="20px">
                          <use href="./images/sprite.svg#facebook"></use>
                        </svg>
                      </a>
                    </li>

                    <li class="list social-icons__list">
                      <a class="link social-icons__icon" href="{{linkedin}}">
                        <svg class="team-card__social-icon" width="20px" height="20px">
                          <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
    </li>
  {{/each}}
</ul>
